doctype html
html
  head
    title= title
    block css
      link(rel='stylesheet', href='/bootstrap//css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/style.css')
    block scripts
      scripts(src='/jquery/jquery.min.js')
      scripts(src='/bootstrap/js/bootstrap.min.js')
  body
    block content